
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8d084;
    color: #0f0f0f;
    text-align: center;
    padding: 50px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 40px;
}
h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
a:hover {
    color: #f4723b;
    text-decoration: underline;
}


#destination {
    margin-bottom: 20px;
}

#destinations #destination1 img {
    max-width: 40%;
    height: 70%;
}

#destinations #destination2 img {
    max-width: 40%;
    height: 70%;
}
#destinations #destination3 img {
    max-width: 40%;
    height: 70%;
}
#destinations #destination4 img {
    max-width: 40%;
    height: 50%;
}
#destinations #destination5 img {
    max-width: 40%;
    height: 50%;
}
#destinations #destination6 img {
    max-width: 40%;
    height: 50%;
}
#destinations #destination7 img {
    max-width: 40%;
    height: 50%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

input, select, button {
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background-color: #4495f2;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f4723b;
}